---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        <font face="IBM Plex Mono">
        <b>Introduction to<br>Cloud Computing</b><br>
        </font>
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="scale-125 stroke-accent stroke-3 rtl:-rotate-90"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <p style="font-family: 'IBM Plex Mono', monospace;"><font size = 4>
        Cloud Computing is the delivery of computing services—such as servers, storage, databases, 
        networking, software, and analytics—over the internet (“the cloud”). Instead of owning physical
        hardware or infrastructure, users can access these services on demand from cloud providers.
        <br>
        It allows individuals and organizations to use computing resources without the need to set up and maintain
        physical data centers. For example, cloud services like Google Drive or Dropbox let users store and access 
        files from anywhere, while platforms like AWS, Microsoft Azure, or Google Cloud provide powerful infrastructure 
        for running applications.
        <br>
        Cloud Computing enables flexible resource allocation, scalability, and cost efficiency. It supports a wide 
        variety of applications such as data storage, web hosting, artificial intelligence, and online collaboration.
        <br>
        The first major cloud platforms emerged in the mid-2000s, and today, most modern applications rely on cloud 
        services in some form.
        <br>
        A. Cloud computing services are typically divided into models such as IaaS (Infrastructure as a Service), 
        PaaS (Platform as a Service), and SaaS (Software as a Service).<br>
        B. The main deployment models are Public Cloud, Private Cloud, Hybrid Cloud, and Community Cloud.
        <br>
        In a cloud network, data and applications are hosted on remote servers and accessed through the internet. 
        These servers are managed by cloud providers and distributed across multiple locations to ensure reliability 
        and security. Users (called clients) can scale resources up or down based on their needs, paying only for what they use.
      </p></font>
      
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex flex-col sm:flex-row sm:items-center">
          </div>
        )
      }
    </section>

    <Hr />

    { featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide"></h2>
            <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
              <font face="IBM Plex Mono">
            <b>Research Members</b>
            </font>
            </h1>
            <div class="flex flex-col sm:flex-row items-start my-4 gap-8">
            <img 
              src="/assets/prof-dayanand-ambawade.jpg" 
              alt="Dr. Dayanand Ambawade" 
              class="rounded-lg shadow-lg w-[260px] h-auto"
              style="object-fit: cover;"
            />
            <div style="font-family: 'IBM Plex Mono', monospace;">
            <span style="font-size:2rem; font-weight:bold;">Dr. Dayanand Ambawade</span><br>
            <span style="font-size:1.3rem; font-weight:bold;">Associate Professor</span><br>
            <span style="font-size:1.1rem;">
            Ph.D (Mumbai University)<br>
            M.Tech (Communication) IIT, Bombay<br>
            B.E. (Electronics)</span>
            </div>
            </div>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </> ) }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Student Projects</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        <font size = '4' style = 'font-family: "IBM Plex Mono", monospace;'>More Projects</font>
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
